.toast {
  position: fixed;
  top: 20px;
  /*top: 80px;*/
  right: 20px;
  padding: 10px 20px;
  color: var(--text-white-color);
  border-radius: 5px;
  z-index: 1000;
}

.success {
  background-color: var(--success-message-background)
}

.error {
  background-color: var(--error-message-background);
}

@keyframes slideIn {
    from {
      right: -100%;
      opacity: 0;
    }
    to {
      right: 20px;
      opacity: 1;
    }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}