/* signup.css */
body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
}

.alert {
  margin-bottom: 20px;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.p-4 {
  padding: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.bg-body {
  background-color: #ffffff;
}

.rounded {
  border-radius: 10px;
}

h1 {
  text-align: center;
}

form {
  margin-right: 20px;
}

.btn-secondary {
  background-color: #6c757d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #495057;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.box {
  max-width: 800px;
  max-height: 1000px;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  padding: 20px;
    padding-top: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
  text-align: center;
}
