{% extends 'components/navBar.html' %}

{% block title %}Search - TimeCapsule{% endblock %}

{% block content %}
<!-- Header remains as is -->
<div class="header">
    <h1>Search Capsules</h1>
</div>

<!-- Search form -->
<div class="search-container">
    <form method="get" action="." class="search-form">
        {{ form.q }}
        <button type="submit" class="search-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
        </button>
    </form>
</div>

<!-- Filter options -->
<div class="filter-container">
    <form method="get" action="." class="filter-form">
        {{ form.unsealed_date }}
        {{ form.sealed_date }}
        {{ form.is_public }}
        <button type="submit" class="filter-button">Apply Filters</button>
    </form>
</div>

<!-- Display search results -->
<div class="home-container">
    <div class="left-container">
        {% for post in posts %}
            {% include 'components/card/capsule_card.html' with post=post %}
        {% endfor %}
    </div>
</div>
{% endblock %}
