<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head>
<body>
    <div class="box">
    <h1>Time Capsule Register</h1>
{% if form.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
            There was an error with your form...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>



{% endif %}	

{#	<div class="shadow p-4 mb-5 bg-body rounded">#}
{#	<h1>Register</h1>#}
{#<br/>#}


		<form action="{% url 'register_user' %}" method=POST>
			{% csrf_token %}

			{{ form.as_p }}

  


			
<br/><br/>
			<input type="submit" value="Submit" class="btn btn-secondary">

		</form>
		
</div>
    </div>
<br/><br/>	
</body>
</html>
