{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Time Capsule - Register</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/messages/messages.css">
    <link rel="stylesheet" href="../static/css/button/button.css">
    <link rel="stylesheet" href="../static/css/user_signup.css">
    <script src="../static/javascript/my_capsules.js"></script>
    <script src="../static/javascript/user_login.js"></script>
</head>
<body>
    <!-- message -->
    {% include "components/messages/messages.html" with message_length=3 %}
    <div class="modal-form-container">

        <div class="container">
            <div class="left-content">
                <img src="{% static 'COVER.gif' %}" style="scale: 40%">
            </div>

            <div class="right-content" style=" padding-left: 110px">
                <div class="boxedd">
                <div class="login-form" style="
                scale: 70%;
                 padding: 20px;
                 height: max-content;
                 background-color: white;
                 border-radius: 1px;
                 border: 1px solid var(--line-grey-color);

">
                    <div class="modal-heading">
                        <h2>Time Capsule</h2>
                    </div>
                    <div class="form-style">
                        <form method="post" action="{% url 'AuthenticationSystem:user_signup' %}">
                            {% csrf_token %}
                            {{ form }}
                            <div class="button-section">
                                {% include 'components/buttons/button.html' with button_text="Sign Up" button_type="submit" button_id="login-button" button_class="primary-button" %}
                            </div>
                        </form>
                    </div>
                    <div class="sign-up" style="scale: 70%">
                    <p style="font-size: 22px">Have an account? <a href="{% url 'AuthenticationSystem:user_login' %}">Log In</a></p>
                </div>
                </div>
                
            </div>
            </div>
        </div>
    </div>

</body>

</html>