<!-- carousel.html -->
<div class="carousel {% if request.path != '/my-capsules/' %} max-width-600px {% endif %}" id="id-{{ carousel_id }}">
  <div class="carousel-inner">
    {% for item in items %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        {% if item.file_type == 'photo' %}
            <img src="{{ item.file.url }}" alt="Slide" {% if request.path == '/my-capsules/' %} class="height-400px" {% endif %}>
        {% elif item.file_type == 'video' %}
            <video controls><source src="{{ item.file.url }}" type="video/mp4"></video>
        {% endif %} 
          
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" onclick="prevSlide('id-{{ carousel_id }}')">&#10094;</button>
  <button class="carousel-control-next" onclick="nextSlide('id-{{ carousel_id }}')">&#10095;</button>
</div>
